{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPets</title>
    <link rel="shortcut icon" href="{% static 'images/logo.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12" id="cabecalho">
            <img src="{% static 'images/logo.jpg' %}" width="130px" class="img-fluid rounded" id="logo">
            <h1>EPet</h1>
            <h5>Sistema de adoção de Pets</h5>
            <br><a href="{% url 'add' %}" class="btn btn-primary">Adicionar um pet</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% for pet in pets %}
            <div class="card" id="pet">
                <div class="card-body text-center">
                    {% if pet.tipo == "Gato" %}
                        <img src="{% static 'images/gato.jpg' %}" class="img-fluid rounded-circle" width="60px">
                    {% else %}
                        <img src="{% static 'images/cachorro.jpg' %}" class="img-fluid rounded-circle" width="60px">
                    {% endif %}
                    <h3 style="margin-top: 15px;">{{pet.nome}}</h3>
                    <p><b>Código:</b> {{pet.id}}</p>
                    {% if pet.adotado == False %}
                        <div class="d-grid">
                            <a href="{% url 'adot' pet.id %}" class="btn btn btn-success">Adotar</a>
                        </div><br>
                    {% else %}
                        <h4 id="adotado"><b><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-through-heart-fill text-danger" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l3.103-3.104a.5.5 0 1 1 .708.708L4.5 12.207V14a.5.5 0 0 1-.146.354l-1.5 1.5ZM16 3.5a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182A23.825 23.825 0 0 1 5.8 12.323L8.31 9.81a1.5 1.5 0 0 0-2.122-2.122L3.657 10.22a8.827 8.827 0 0 1-1.039-1.57c-.798-1.576-.775-2.997-.213-4.093C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3Z"/></svg> Adotado!</b></h4>
                    {% endif %}
                    <a href="{% url 'detail' pet.id %}" class="btn btn-sm btn-secondary">Ver</a>
                    <a href="{% url 'update' pet.id %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'delete' pet.id %}" class="btn btn-sm btn-danger">Excluir</a>
                </div>
            </div><br>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center" id="rodape">
            <img src="{% static 'images/logo.jpg' %}" class="img-fluid rounded" width="30px">
            <p>Criado  com <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-balloon-heart-fill text-danger" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z"/></svg> por Mateus Schwede</p>
        </div>
    </div>
</div>
</body>
</html>